<h1>Soporte</h1>
<main class="container">
    <section class="mx-auto border" id="root">
        
    </section>
</main>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/SocketEspera.js"></script>