<h1>Soporte</h1>
<main class="container">
    <h3>Solicitudes:</h3>
        
    <section class="mx-auto border" id="root">
        {{#each request}}
            <h3>id:{{this.id}}</h3>
            <p>{{this.descripcion}}</p>
        {{/each}}
    </section>
</main>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/SocketEspera.js"></script>