<h1>Soporte</h1>
<main class="container">
    <h3>Solicitudes:</h3>
        
    <section class="" id="root">
        <ul class="list-group">
            {{#each request}}
                <li class="list-group-item">
                    <h5>Oficina: {{this.oficina}} </h5>
                    <h5>Solicitante: {{this.solicitado}}</h5>
                        
                    <p>{{this.descripcion}}</p>
                    <button class="btn btn-primary">Solicionado</button>
                </li>
            {{/each}}
        </ul>
    </section>
</main>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/SocketEspera.js"></script>