<h1>Solicitud de Soporte Técnico</h1>
<form action="/solicitud" method="get">
    <input type="text" name="oficina">
    <input type="text" name="coordinacion">
    <input type="text" name="usuario">
    <input type="text" name="solicitado">
    <input type="text" name="descripcion">
    <button type="submit">Enviar</button>
</form>